DATABASE_URL=postgresql://user:pass@ep-xxx.neon.tech/dbname?sslmode=require
WEBHOOK_SECRET=isi-rahasia-panjang-min-32-karakter
SESSION_SECRET=isi-rahasia-lain-min-32-karakter
S3_BUCKET=nama-bucket-neon-s3
AWS_ENDPOINT_URL_S3=https://xxxx.storage.c-6.us-east-2.aws.neon.tech
AWS_ACCESS_KEY_ID=JANGAN-COMMIT-ISI-DI-ENV-SAJA
AWS_SECRET_ACCESS_KEY=JANGAN-COMMIT-ISI-DI-ENV-SAJA
AWS_REGION=us-east-2
ADMIN_USER=admin
ADMIN_PASS=isi-password-kuat-sekali-saja
